<container>
    <row class="footer-top">
        <columns small="7" large="5">
            <row>
                <columns small="3" large="2">
                    <img src="https://i.imgur.com/3AW1CWz.png" class="circle-logo">
                </columns>
                <columns small="9" large="9" class="info-section" valign="middle">
                    <span class="call-to-action">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>
            </row>
        </columns>
        <columns small="5" large="7" class="store-logos">
            <row>
                <columns large="6" valign="middle">
                    <img src="https://i.imgur.com/90Qvsw2.png">
                </columns>
                <columns large="6" valign="middle">
                    <img src="https://i.imgur.com/2csXpD9.png">
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-social">
        <columns small="6" large="8" class="logo-section" valign="middle">
            <img src="https://i.imgur.com/ksbXvkq.png">
        </columns>
        <columns small="6" large="3" valign="middle">
            <row class="social-icons">
                <columns small="4" large="4">
                    <img src="https://i.imgur.com/dWvpaBo.png">
                </columns>
                <columns small="4" large="4">
                    <img src="https://i.imgur.com/Xvetr6n.png" class="twitter">
                </columns>
                <columns small="4" large="4">
                    <img src="https://i.imgur.com/ogrB0Ew.png">
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-menu">
        <columns style="width: 90%;">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="https://i.imgur.com/4qjUdL2.png" class="icons">Flights</a>
                </columns>
                <columns class="show-for-large" style="width: 0.5%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="https://i.imgur.com/p8OX4vW.png" class="icons">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width: 0.5%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="https://i.imgur.com/9esBTQS.png" class="icons">Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 0.5%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3" class="show-for-large">
                    <a href="#" class="text-center"><img src="https://i.imgur.com/QZDtZwx.png" class="icons">Packages</a>
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-bottom">
        <columns>
            <row class="lower-links">
                <columns>
                    <a href="#">Unsubscribe</a>
                    <a href="#">Email Preferences</a>
                    <a href="#">Feedback</a>
                    <a href="#">Privacy Policy</a>
                </columns>
            </row>
            <row class="privacy">
                <columns>
                    <p>Prices, savings, and availability may vary. Additional restrictions may apply. Savings are not ensured. KAYAK does not sell tickets but provides a price comparison service. The deals in this newsletter were current at the time this email was published and subject to change based on date, time and availability, which may be extremely limited. KAYAK accepts no liability for inaccuracies arising from this or any other cause, including, but not limited to, expiration of deals and typographical error, we are not responsible for any loss, damages, or injury incurred by the deals herein. Unless otherwise specified, hotel prices are per night, based on double-occupancy rooms and do not include taxes and fees. Unless specified to be one-way (ow) or otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and fees. If in doubt, always consult the agent or company supplying the tickets.
                    Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not baggage fees or other fees charged directly by the airline for the included flight.
                    Cruise and car rental prices do not include taxes and fees. Please check the provider's webpage or contact the provider for additional details.</p>
                </columns>
            </row>
            <row class="copyright">
                <columns>
                    &#9400; 2019 KAYAK Software Corporation
                </columns>
            </row>
            <row class="address">
                <columns>
                    7 Market Street Stamford, CT 06902-5810 US
                </columns>
            </row>
        </columns>
    </row>
</container>